h1 {
    text-align: center;
    background-color: grey;
    color:white;
}

.row {
    text-align: center;
    background-color: lightcoral;
}

label {
    font-size: 20pt;
    text-decoration: solid;
}

.row {
    background-color:rgb(187, 184, 184);
}

.col {
    background-color: orange;
}

button {
    background-color: black;
    color: black;
}

.citycolumn {
    background-color: black;
}
